<?xml version="1.0" encoding="utf-8" ?>
<SiteConfig>
	<!-- 网站名称 -->
	<SiteName>HPCMS</SiteName>
	
	<!-- 站长名称 -->
	<MasterName>jjf</MasterName>
	
	<!-- 站长邮箱 -->
	<MasterEmail>970355214@qq.com</MasterEmail>
	
	<MetaKeywords>HPCMS,内容管理系统,asp.net</MetaKeywords>
	
	<!-- 版权信息，支持html -->
	<Copyright>版权所有，2013-2015</Copyright>
  
  <!--浏览方式：0 静态， 1 伪静态， 2 自定义路径（偏重SEO）-->
  <AccessMode>1</AccessMode>
</SiteConfig>