<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--URL重写-->
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!--添加文章重写规则-->
      <add name="RewriteItem" virtualUrl="^~/Item/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Item.aspx?ID=$1" ignoreCase="true" />
      <add name="RewriteCategory" virtualUrl="^~/Category/(\d+).aspx" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Category.aspx?ID=$1" ignoreCase="true" />
      <!--更多重写规则-->

    </rewrites>
  </urlrewritingnet>


  <!--程序常用配置-->
  <appSettings configSource="App_Data\Config\AppSettings.config" />
  
  <!--连接字串-->
  <connectionStrings configSource="App_Data\Config\ConnectionStrings.config" />  
  
  <system.web>
    <!--调试程序，允许远程查看错误信息-->
    <customErrors mode="Off" />
    <!--HttpMdoules-->
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>

    <httpRuntime requestValidationMode="2.0" />
    
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0" />
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
</configuration>
