<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--网站模板根目录，要以"~\"开头，以路径分割符结尾-->
  <add key="TemplateRootDir" value="~/App_Data/Template/" />
  
  <!--管理员登录路径-->
  <add key="AdminLoginPath" value="~/Admin/Login.aspx"/>

  <add key="SiteConfigPath" value="~/App_Data/SiteConfig.config"/>
  
  <!-- 版本号 -->
  <add key="MainVersion" value="0" />
  <add key="MinorVersion" value="0" />
  <add key="BuildVersion" value="1" />
  <!-- Version: Alpha, Beta, RC, Release -->
  <add key="Version" value="Alpha" />
  
  
</appSettings>